body {
  background: rgb(14, 18, 95);
}

.App {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  color: white;
}

.tbl {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 13px;
}

.day-th,
.time-th {
  background-color: #0c54a3;
}

pre {
  font-family: Poppins;
}

.cancel-btn {
  font-family: Poppins;
  font-weight: bold;
  margin: 0.8em;
  font-size: 15px;
  background-color: white;
  padding: 0.8em;
  border-radius: 0.7em;
  border: 1px rgb(207, 60, 60) solid;
  transition: all 0.2s;
}

.cancel-btn:hover {
  color: white;
  background-color: rgb(207, 60, 60);
}

.error-btn {
  font-family: Poppins;
  font-weight: bold;
  margin: 0.8em;
  font-size: 15px;
  background-color: white;
  padding: 0.8em;
  border-radius: 0.7em;
  border: 1px rgb(48, 97, 230) solid;
  transition: all 0.2s;
}

.error-btn:hover {
  color: white;
  background-color: rgb(48, 97, 230);
}

td {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

td:hover {
  background-color: rgba(57, 109, 253, 0.452);
}

.break-td {
  background-color: #0c54a3;
  text-align: center;
  cursor: default;
  font-weight: bold;
}

.break-td:hover {
  background-color: #0c54a3;
}

th {
  font-size: 15px;
}

table,
thead,
tbody,
tr,
th,
td {
  border: 1px white solid;
  border-collapse: collapse;
  padding: 0.5em;
}
